body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #1d2a35;
    color: #dddddd;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #0d1721;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/*Karina*/
nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

nav a:focus {
    outline: 3px solid #0d1721;
    background: #0d1721;
}

header, nav, main {
    padding: 15px;
}
